@import "../../scss/settings";
@import "../../scss/mixins";

.footer {
  background-color: $almostBlack;

  &__content {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media screen and (max-width: $breakpoint-ptab) {
      flex-direction: column;
      padding-top: 2.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &__navWrap {
    @media screen and (max-width: $breakpoint-ptab) {
      margin-bottom: 2rem;
    }
  }

  &__navItem {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: $offWhite;
    margin-bottom: 12px;
    @include hover--colors($offWhite, $mainGold);
    @media screen and (max-width: $breakpoint-ptab) {
      text-align: center;
    }
  }

  &__titleBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: $mainGold;
    @media screen and (max-width: $breakpoint-ptab) {
      margin-bottom: 2rem;
    }
  }

  &__iconWrap {
    height: 50px;
  }

  &__logoTitle {
    @include heading;
    text-align: center;
    margin-bottom: 16px;
  }

  &__logoSubtitle {
    letter-spacing: 0.4rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__copyright {
    text-align: center;
    font-size: 0.6rem;
    color: $offWhite;
    padding-bottom: 1.5rem;
  }
}
