@import "../../scss/settings";

.footer {
  background-color: $almostBlack;

  &__content {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media screen and (max-width: $breakpoint-ptab) {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &__navWrap {
    @media screen and (max-width: $breakpoint-ptab) {
      margin-bottom: 2rem;
    }
  }

  &__navItem {
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: $offWhite;
    margin-bottom: 12px;
    @media screen and (max-width: $breakpoint-ptab) {
      text-align: center;
    }
  }

  &__titleBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
  }

  &__logoTitle {
    // @include heading; TODO add heading mixin
    text-align: center;
    margin-bottom: 16px;
  }

  &__iconWrap {
    height: 50px;
  }

  &__logoSubtitle {
    letter-spacing: 0.4rem;
    text-align: center;
    text-transform: uppercase;
  }
}
