@import "../../scss/settings";
@import "../../scss/mixins";

.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__burgerMenuCross {
    z-index: 10;
  }

  &__burgerMenuWrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $black;
    transform: translate(-100%, 0);
    -webkit-user-select: none;
    user-select: none;
    transition: transform $base-trans-speed * 0.75 ease-in-out;

    &--open {
      transform: none;
    }
  }

  &__wrap {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 3.5rem;
    @media screen and (max-width: $breakpoint-ptab) {
      padding-left: 2.5rem;
    }
    &--link {
      @include hover--colors($offWhite, $mainGold);
      @include underline();
    }
  }

  &__logoWrap {
    height: 60px;
    position: relative;
  }

  &__logoText {
    position: absolute;
    width: 100%;
    top: 0;
    color: $mainGold;
    text-shadow: 0 0 2px #000;
    & * {
      line-height: 1.2rem;
      text-align: center;
    }
  }
}
