// Colors ===================
$mainGold: rgb(255, 136, 0);
$offWhite: rgb(233, 233, 233);
$almostBlack: rgb(20, 20, 20);
$offBlack: rgb(60, 60, 60);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// Typography
$base-font-weight: 300;
$base-font-color: $black;
$base-font-size: 10;

// Limits
$min-width: 320px;
$page-width: 1500px;
$page-padding: 2rem;

// Breakpoints
$breakpoint-max-width: 1500px;
$breakpoint-desk: 1440px;
$breakpoint-ltab: 1024px;
$breakpoint-ptab: 767px;
$breakpoint-mob: 480px;

// utility class to set vertical boundaries and padding across all pages
.pageContainer {
  max-width: $page-width;
  width: 100%;
  padding-left: $page-padding;
  padding-right: $page-padding;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: $breakpoint-mob) {
    padding-left: 0;
    padding-right: 0;
  }
}
