@import "../../scss/settings";
@import "../../scss/mixins";

.socialBlock {
  display: flex;
  gap: 0.5rem;
  position: relative;

  &__itemWrap {
    height: 50px;
    padding: 8px;
    border: $mainGold 2px solid;
    color: $mainGold;
    border-radius: 20px;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
    @include hover--colors($mainGold, $offWhite);
    @media screen and (max-width: $breakpoint-ptab) {
      height: 40px;
      padding: 6px;
      border-radius: 14px;
    }
  }

  &__item {
    height: 100%;
    width: 100%;
    color: currentColor;
  }
}
