@import "../../scss/settings";

.contentWrap {
  width: 100%;
  padding: 1.25rem;
  align-items: center;
  border: $mainGold 4px solid;
  border-radius: 2.5rem;
  color: $mainGold;
  background-color: $almostBlack;
}
