@import "../scss/settings";

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  gap: 1.5rem;
  background-image: url("../public/black-hexagon-mesh.jpg");
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

.wrap {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
  align-items: center;
}

.copy {
  color: $orange;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.4rem;
  @media screen and (max-width: $breakpoint-mob) {
    font-size: 0.9rem;
  }
  &:before,
  &:after {
    content: '"';
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 100px;
    position: absolute;
    color: grey;
    opacity: 0.5;
  }
  &:before {
    margin-top: -32px;
    margin-left: -32px;
  }
  &:after {
    margin-top: -24px;
  }
}

.attribution {
  color: $yellow;
  font-style: italic;
}
